body {
    text-align: center;
    background-image: url("img/background.jpg");
    }
#generate {
    background: #00cc00;
    color: white;
    padding: 15px 40px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    }

.slot {
    width: 480px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 10px;
}

.slot img {
    width: 150px;
    height: 150px;
    border: 4px solid rgb(0, 255, 98);
    box-shadow: 0 0 15px rgba(10, 85, 3, 0.7);
    background: #fff;
}

#message {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: rgb(0, 255, 98);
    }
h2, h3 {
    color: rgb(0, 255, 98);
}